.card-container{
    width: 100%;
    max-width: 1000px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    color: #fff;
}

.card-container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(240, 255, 32, 0.537);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    border: 2px solid white;
    background: rgba(223, 169, 68, 0.728);
    flex-wrap: wrap;
}

.card-container .card:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}

.card-container .card img {
    width: 330px;
    height: 220px;
}

.card-container .card h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.card-container .card h5{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: yellow;
}

.card-container .card ul li{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: white;
}
