.Navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo{
    width: 40px;
    cursor: pointer;
    padding-left: 10px;
}

.social-logo{
    display: flex;
    width: 60px;
    cursor: pointer;
    padding-right: 20px;
}

.logoAndName{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Navbar > .nav-logo{
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
}

.nav-logo{
    color: #ffffff;
    padding-left: 10px;
}
.Navbar > .nav-items > a{
    font-size: 16px;
    margin: 15px;
    text-decoration: none;
    position: relative;
    opacity: 0.9;
}
a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

.Navbar > .nav-items > a:hover{
    opacity: 1;
}

.Navbar > .nav-items > a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: all .45s;
}

.Navbar > .nav-items > a:hover::before{
    width: 100%;
}

.Navbar > .nav-toggle{
    display: none;
}


@media(max-width: 700px){
    a{
        font-size: 20px;
    }
    .social-logo{
        width: 50px;
    }
    .Navbar > .nav-items{
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(152, 87, 1, 0.717), transparent);
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .Navbar > .nav-items > a::before{
        background: transparent;
    }

    .Navbar > .nav-items.open {
        transform: translateX(0);
    }

    .Navbar > .nav-toggle{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle > .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background-color: #ffffff;
    }

    .nav-toggle > .bar::before , .nav-toggle > .bar::after{
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all .45s ease-in-out;
    }
    .nav-toggle > .bar::before{
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }
    .nav-toggle > .bar::after{
        width: 32px;
        transform: translateY(8px);
    }
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.open > .bar::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .nav-toggle.open > .bar::after{
        transform: rotate(-45deg) translate(26px, 26px);
    }

}