.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    color: white;
    padding: 4px 8px;
    background-color: rgba(0,0,0,.6);
    transition: background-color .3s;
    border: 1px solid #ff851b;
}

button:active{
    background-color: #c55c00;
    color: white;
    border: 1px solid #ff851b
}


@media(max-width: 700px){
    .pagination button{
        padding: 2px 5px
    }
}